@model GAA.Web.ViewModels.GestionAdmisionViewModel

@{
    ViewBag.Title = "Citas";
    Layout = "~/Views/_Layout.cshtml";
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "onlineform" }))
{
    @Html.AntiForgeryToken()

    <script type="text/javascript">

        $(document).ready(function () {

            $('#btnRegistrar').click(function () {
                var form = $("#onlineform");
                if (form.valid()) {
                    $.ajax({
                        type: 'POST',
                        url: "/GestionCita/Registro",
                        data: form.serialize(),
                        dataType: 'json',
                        success: function (response) {
                            if (response != null && response.success && response.responseText == 'OK') {
                                alert("Se reprogramó la cita satisfacoriamente");
                                window.location.href = '/GestionAdmision/Consulta/';
                            } else {
                                alert(response.responseText);
                            }
                        }
                    });
                }
            });




            $('#FechaCitaAdmision').change(function () {
                $.ajax({
                    cache: false,
                    type: "GET",
                    url: "/GestionCita/GetHoraCita",
                    data: { "fechaCita": $(this).val() },
                    success: function (data) {
                        $("#HoraCitaAdmision").html('');
                        $.each(data, function (id, option) {
                            $("#HoraCitaAdmision").append($('<option></option>').val(option.id).html(option.name));
                        });
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Falló al recibir las horas.');
                    }
                });
            });




            $('#btnSalir').click(function () {
                window.location.href = '/GestionAdmision/Consulta/';
            });


        });



    </script>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <fieldset>
        @Html.HiddenFor(model => model.CodCitaAdmision, new { id = "hdCodCitaAdmision" })
        <div class="panel panel-primary" style="width:100%">
            <div class="panel-heading">Programar Citas</div>
            <div class="panel-body">
                <table class="table-bordered" width="100%">
                    <tr>
                        <td>
                            <span class="control-label"><b>Código: </b> @Model.CodCitaAdmision</span>
                        </td>
                        <td>
                            <span class="control-label"><b>Postulante: </b> @Model.NombresPostulante</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="control-label"><b>Grado: </b> @Model.GradoDescripcion</span>
                        </td>
                        <td>
                            <span class="control-label"><b>Sucursal: </b>@Model.SucursalDescripcion</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="control-label"><b>Fecha Cita: </b> @Model.FechaCitaAdmision</span>
                        </td>
                        <td>
                            <span class="control-label"><b>Hora Cita: </b>@Model.HoraCitaAdmision</span>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <span class="control-label"><b>Estado: </b>@Model.EstadoDescripcion</span>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="panel-body">
                <table class="table-bordered" width="100%">
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.FechaCitaAdmision, "Fecha Cita: ", htmlAttributes: new { @class = "control-label", style = "font-weight:Bold" })
                            @Html.DropDownList("FechaCitaAdmision", (SelectList)ViewBag.ListaFechaCita, "-Seleccione-", htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.FechaCitaAdmision, "", new { @class = "text-danger" })
                        </td>
                        <td>
                            @Html.LabelFor(model => model.HoraCitaAdmision, "Hora Cita: ", htmlAttributes: new { @class = "control-label", style = "font-weight:Bold" })
                            @Html.DropDownListFor(model => model.HoraCitaAdmision, (SelectList)ViewBag.ListaHoraCita, "-Seleccione-", htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.HoraCitaAdmision, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                </table>
            </div>
            <br />
            <b>(*) Campos Obligatorios</b>
            <br />
            <div class="btn-group">
                <input type="button" value="Reprogramar Cita" id="btnRegistrar" class="btn-primary" />                
                <input type="button" value="Salir" id="btnSalir" class="btn-primary" />
            </div>
        </div>

    </fieldset>
}
