@model GAA.Entity.SolicitudAdmision

@{
    Layout = "~/Views/_Layout.cshtml";
    ViewBag.Title = "Detalle Solicitud";
}

<h2>Detalle</h2>

<div>
    <h4>Su solicitud se registró con éxito</h4>
    <hr />

    <h4><span class="control-label">Datos de la solicitud</span></h4>
    <table class="container" style="width:100%" align="left">
        <tr class="row">
            <td class="col-md-3">Representante(@Html.DisplayFor(model => model.Postulante.Apoderado.VinculoApoderado.Descripcion) ): <span>@Html.DisplayFor(model => model.Postulante.Apoderado.FullName) </span> </td>
            <td class="col-md-3">Documento identidad(@Html.DisplayFor(Model => Model.Postulante.Apoderado.TipoDocumento.Descripcion) ): <span>@Html.DisplayFor(model => model.Postulante.Apoderado.NumeroDocumento) </span></td>
        </tr>
        <tr class="row">
            <td class="col-md-3">Postulante: <span>@Html.DisplayFor(model => model.Postulante.FullName) </span> </td>
            <td class="col-md-3">Documento identidad(@Html.DisplayFor(Model => Model.Postulante.TipoDocumento.Descripcion) ): <span>@Html.DisplayFor(model => model.Postulante.NumeroDocumento) </span></td>
        </tr>
        <tr class="row">
            <td rowspan="2" class="col-md-3">Fecha Nacimiento del postulante: <span>@Html.DisplayFor(model => model.Postulante.FechaNacimiento ) </span> </td>
        </tr>
        <tr class="row">
            <td rowspan="2" class="col-md-3">Año escolar de ingreso: <span>@Html.DisplayFor(model => model.FechaSolicitud.Year) </span> </td>
        </tr>
        <tr class="row">
            <td rowspan="2" class="col-md-3">Grado a postular: <span>@Html.DisplayFor(model => model.Grado.Descripcion) </span> </td>
        </tr>
        <tr class="row">
            <td rowspan="2" class="col-md-3">Sucursal: @Html.DisplayFor(Model => Model.Sucursal.Ciudad.Descripcion) : <span>@Html.DisplayFor(model => model.Sucursal.Descripcion) </span></td>
        </tr>
        <tr class="row" style="text-align:left">
            <td class="col-md-3">Código de la Solicitud: <span>@Html.DisplayFor(model => model.IdSolicitudAdmision) </span> </td>
            <td class="col-md-3">Fecha de Solicitud: <span>@Html.DisplayFor(model => model.FechaSolicitud ) </span> </td>
        </tr>

    </table>
    <br />
    <h4><span class="control-label">Nota: Debe registrar una cita para la evaluacion</span></h4>

    Entregar los siguientes documentos el dia de la cita:
    <br /><br />
    <ul>
        <li>Copia de Acta de Nacimiento Certificada</li>
        <li>Certificado de Estudios</li>
        <li>Constancia de homologación curricular (en caso sea trasladado desde el extrangero)</li>
        <li>Copia del Documento del Padre/Apoderado</li>
    </ul>
    <br /><br />

    <div class="form-group" style="text-align:left">
        <div class="col-md-5">
            <input type="button" value="Registrar cita ahora" id="btnCancelar" class="btn btn-info" />
        </div>
        <div class="col-md-5">
            <input type="button" value="Registrar cita luego" id="btnContinuar" class="btn btn-info" />
        </div>
    </div>
    <br /><br />
</div>

