@model System.Collections.Generic.IEnumerable<GAA.Entity.CitaAdmision>
@{
    Layout = "~/Views/_Layout.cshtml";
    ViewBag.Title = "Gestión Admisión";
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "onlineform" }))
{
    @Html.AntiForgeryToken()

    <script type="text/javascript">

        $(document).ready(function () {

            $('#btnNuevaSolicitud').click(function () {
                window.location.href = '/GestionAdmision/Create/';
            });

            $('#btnSalir').click(function () {
                window.location.href = '/Principal/Index/';
            });

        });



        function EliminarRegistro(codigo) {
            if (confirm('Está seguro de eliminar la postulación?. La Cita será eliminada.')) {
                $.ajax({
                    cache: false,
                    type: "GET",
                    url: "/GestionAdmision/Eliminar",
                    data: { "codCitaAdmision": codigo },
                    success: function (response) {
                        if (response != null && response.success && response.responseText == 'OK') {
                            alert("Se eliminó la postulación satisfactoriamente");
                            window.location.href = '/GestionAdmision/Consulta/';
                        } else {
                            alert(response.responseText);
                        }
                    }
                });
            }
        }


        function CancelarCita(idCita){
            if( confirm('Desea cancelar la cita?') ){
                $.ajax({
                    type: 'GET',
                    url: "/GestionCita/CancelarCita",
                    data: { "codCitaAdmision": idCita },
                    success: function (response) {
                        if (response != null && response.success && response.responseText == 'OK') {
                            alert("Se canceló la cita satisfacoriamente");
                            window.location.href = '/GestionAdmision/Consulta/';
                        } else {
                            alert(response.responseText);
                        }
                    }
                });
            }
        }




    </script>

    <fieldset>
        <div class="panel panel-primary" style="width:100%">
            <div class="panel-heading">Datos de postulaciones</div>
            <div class="panel-body">


                <br />
                <div class="btn-group">
                    <input type="button" value="Registrar nueva Solicitud de Admisión" id="btnNuevaSolicitud" class="btn-primary" />
                    <input type="button" value="Salir" id="btnSalir" class="btn-primary" />
                </div>
                <p>
                </p>
                <table class="table-bordered table-hover" style="width:100%;text-align:center">
                    <thead>
                        <tr>
                            <th style="width:6%">Editar Solicitud</th>
                            <th style="width:6%">Eliminar Solicitud</th>
                            <th style="width:8%">N° Documento Postulante</th>
                            <th style="width:10%">Grado postulación</th>
                            <th style="width:20%">Postulante</th>
                            <th style="width:10%">Sucursal</th>
                            <th style="width:6%">Fecha Cita</th>
                            <th style="width:7%">Hora Cita</th>
                            <th style="width:10%">Estado de Cita</th>
                            <th style="width:10%">Citas</th>
                            <th style="width:10%">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in @Model)
                        {
                            <tr>
                                @if (item.EstadoCita.Descripcion == "Realizada" || item.EstadoCita.Descripcion == "Eliminada")
                                {
                                    <td style="width:7%"><img src="~/Images/modify.png" class="img-rounded" alt="Modificar" onclick="alert('No se puede modificar esta solicitud.');"></td>
                                    <td><img src="~/Images/delete.png" class="img-rounded" alt="Eliminar" onclick="alert('No se puede eliminar esta solicitud.');"></td>
                                }
                                else
                                {
                                    <td style="width:7%"><img src="~/Images/modify.png" class="img-rounded" alt="Modificar" onclick="window.location.href = '/GestionAdmision/Modify/@item.IdCitaAdmision';"></td>
                                    <td><img src="~/Images/delete.png" class="img-rounded" alt="Eliminar" onclick="EliminarRegistro(@item.IdCitaAdmision);"></td>
                                }
                                <td>@item.SolicitudAdmision.Postulante.NumeroDocumento </td>
                                <td>@item.SolicitudAdmision.Grado.Descripcion </td>
                                <td>@item.SolicitudAdmision.Postulante.FullName </td>
                                <td>@item.SolicitudAdmision.Sucursal.Descripcion </td>
                                @if (item.FechaCita == null)
                                {
                                    <td></td>
                                    <td></td>
                                }
                                else
                                {
                                    <td>@Convert.ToDateTime(item.FechaCita).ToString("dd/MM/yyyy")</td>
                                    <td>@Convert.ToDateTime(item.FechaCita).ToString("HH:mm")</td>
                                }

                                <td>@item.EstadoCita.Descripcion </td>

                                @if (item.EstadoCita.Descripcion == "Pendiente")
                                {
                                    <td>  <a href="/GestionCita/Programacion/@item.IdCitaAdmision">Programar Cita </a></td>
                                }
                                else if (item.EstadoCita.Descripcion == "Aprobada")
                                {
                                    <td>  <a href="/GestionCita/Reprogramacion/@item.IdCitaAdmision">Reprogramar Cita</a>  </td>
                                }
                                else
                                {
                                    <td></td>
                                }


                                @if (item.EstadoCita.Descripcion == "Aprobada")
                                {
                                    <td>  <a onclick="CancelarCita(@item.IdCitaAdmision);">Cancelar Cita</a></td>
                                }
                                else
                                {
                                    <td align="center">--</td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </fieldset>
}