@model System.Collections.Generic.IEnumerable<GAA.Entity.CitaAdmision>
@{
    Layout = "~/Views/_Layout.cshtml";
    ViewBag.Title = "Gestión Admisión";
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "onlineform" }))
{
    @Html.AntiForgeryToken()

    <script type="text/javascript">

        $(document).ready(function () {


         



            $('#btnNuevaSolicitud').click(function () {
                window.location.href = '/GestionAdmision/Create/';
            });

            $('#btnSalir').click(function () {
                window.location.href = '/Principal/Index/';
            });

        });



        function EliminarRegistro(codigo) {
            document.getElementById('msjMensajeQuestion').innerHTML = '¿Está seguro de eliminar la postulación?';
            $('#btnSi').click(function () {
                EliminarPostulacion(codigo);
            });
            $('#btnNo').click(function () {
                $('#myModalQuestion').modal().hide();
            });
            $('#myModalQuestion').modal({backdrop: 'static', keyboard: false})
        }



        function EliminarPostulacion(codigo){
            $('#myModalQuestion').modal().hide();
            $.ajax({
                type: "GET",
                url: "/GestionAdmision/Eliminar",
                data: { "codCitaAdmision": codigo },
                success: function (response) {
                    if (response != null && response.success && response.responseText == 'OK') {
                        document.getElementById('msjMensaje').innerHTML = 'Se eliminó la postulación satisfactoriamente';
                        $('#btCerrarModal').click(function () {
                            window.location.href = '/GestionAdmision/Consulta/';
                        });
                        $('#myModal').modal({backdrop: 'static', keyboard: false})
                    } else {
                        document.getElementById('msjMensaje').innerHTML = response.responseText;
                        $('#myModal').modal({backdrop: 'static', keyboard: false})
                    }
                }
            });

        }



        function CancelarCita(idCita){
            document.getElementById('msjMensajeQuestion').innerHTML = '¿Desea cancelar la cita?';
            $('#btnSi').click(function () {
                $.ajax({
                    type: 'GET',
                    url: "/GestionCita/CancelarCita",
                    data: { "codCitaAdmision": idCita },
                    success: function (response) {
                        if (response != null && response.success && response.responseText == 'OK') {
                            document.getElementById('msjMensaje').innerHTML = 'Se canceló la cita satisfactoriamente';
                            $('#btCerrarModal').click(function () {
                                window.location.href = '/GestionAdmision/Consulta/';
                            });
                            $('#myModal').modal({backdrop: 'static', keyboard: false})
                        } else {
                            document.getElementById('msjMensaje').innerHTML = response.responseText;
                            $('#myModal').modal({backdrop: 'static', keyboard: false})
                        }
                    }
                });
            });
            $('#btnNo').click(function () {
                $('#myModalQuestion').modal().hide();
            });
            $('#myModalQuestion').modal({backdrop: 'static', keyboard: false})


            //if( confirm('Desea cancelar la cita?') ){
               
            //}


        }

        function OpenModal(text){
            document.getElementById('msjMensaje').innerHTML = text;
            $('#myModal').modal({backdrop: 'static', keyboard: false})
        }


    </script>

    <fieldset>
        <div class="panel panel-primary" style="width:100%">
            <div class="panel-heading">Datos de postulaciones</div>
            <div class="panel-body">


                <br />
                <div class="btn-group">
                    <input type="button" value="Registrar nueva Solicitud de Admisión" id="btnNuevaSolicitud" class="btn-primary" />
                    <input type="button" value="Salir" id="btnSalir" class="btn-primary" />
                </div>
                <p>
                </p>
                <table  class="table-bordered table-hover" style="width:100%;text-align:center">
                    <thead>
                        <tr>
                            <th style="width:6%">Editar Solicitud</th>
                            <th style="width:6%">Eliminar Solicitud</th>
                            <th style="width:8%">N° Documento Postulante</th>
                            <th style="width:10%">Grado postulación</th>
                            <th style="width:20%">Postulante</th>
                            <th style="width:10%">Sucursal</th>
                            <th style="width:6%">Fecha Cita</th>
                            <th style="width:7%">Hora Cita</th>
                            <th style="width:10%">Estado de Cita</th>
                            <th style="width:10%">Programaciones</th>
                            <th style="width:10%">Opciones</th>
                        </tr>
                    </thead>
                    <tbody id="tbListado">
                        @foreach (var item in @Model)
                        {
                            <tr>
                                @if (item.EstadoCita.Descripcion == "Realizada" || item.EstadoCita.Descripcion == "Eliminada")
                                {
                                    <td style="width:7%"><img src="~/Images/modify.png" class="img-rounded" alt="Modificar" onclick="OpenModal('No se puede modificar esta solicitud.');"></td>
                                    <td><img src="~/Images/delete.png" class="img-rounded" alt="Eliminar" onclick="OpenModal('No se puede eliminar esta solicitud.');"></td>
                                }
                                else
                                {
                                    <td style="width:7%"><img src="~/Images/modify.png" class="img-rounded" alt="Modificar" onclick="window.location.href = '/GestionAdmision/Modify/@item.IdCitaAdmision';"></td>
                                    <td><img src="~/Images/delete.png" class="img-rounded" alt="Eliminar" onclick="EliminarRegistro(@item.IdCitaAdmision);"></td>
                                }
                                <td>@item.SolicitudAdmision.Postulante.NumeroDocumento </td>
                                <td>@item.SolicitudAdmision.Grado.Descripcion </td>
                                <td>@item.SolicitudAdmision.Postulante.FullName </td>
                                <td>@item.SolicitudAdmision.Sucursal.Descripcion </td>
                                @if (item.FechaCita == null)
                                {
                                    <td></td>
                                    <td></td>
                                }
                                else
                                {
                                    <td>@Convert.ToDateTime(item.FechaCita).ToString("dd/MM/yyyy")</td>
                                    <td>@Convert.ToDateTime(item.FechaCita).ToString("HH:mm")</td>
                                }

                                <td>@item.EstadoCita.Descripcion </td>

                                @if (item.EstadoCita.Descripcion == "Pendiente")
                                {
                                    <td>  <a href="/GestionCita/Programacion/@item.IdCitaAdmision">Programar Cita </a></td>
                                }
                                else if (item.EstadoCita.Descripcion == "Aprobada")
                                {
                                    <td>  <a href="/GestionCita/Reprogramacion/@item.IdCitaAdmision">Reprogramar Cita</a>  </td>
                                }
                                else
                                {
                                    <td></td>
                                }


                                @if (item.EstadoCita.Descripcion == "Aprobada")
                                {
                                    <td>  <a onclick="CancelarCita(@item.IdCitaAdmision);">Cancelar Cita</a></td>
                                }
                                else
                                {
                                    <td align="center">--</td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>


        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Innova School</h4>
                    </div>
                    <div class="modal-body">
                        <p id="msjMensaje"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btCerrarModal" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade" id="myModalQuestion" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Innova School</h4>
                    </div>
                    <div class="modal-body">
                        <p id="msjMensajeQuestion"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btnSi" class="btn btn-default" data-dismiss="modal">Si</button>
                        <button type="button" id="btnNo" class="btn btn-default" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>


    </fieldset>
}